<br>
<div class="articulo">
	<aside class="lateral" style="float: left;">
		<a href="/detallando"><img class="imagen" src="../../static/img/frc1394/prub01.png"></a>
		<article>
			<a href="/detallando"><h3>Aqui el Titulo</h3></a>
			<p class="break">Una descripcion del articulo y las condiciones, Una descripcion del articulo y las condiciones, Una descripcion del articulo y las condiciones, Una descripcion del articulo y las condiciones, Una descripcion del articulo y las condiciones.</p>
		</article>
	</aside>
	<aside class="lateral" style="float: right;">
		<img class="imagen" src="../../static/img/frc1394/prub02.png">
		<article>
			<h3>Aqui el Titulo</h3>
			<p class="break">Una descripcion del articulo y las condiciones</p>
		</article>
	</aside>
</div>
	
<div class="articulo">
	<aside class="lateral" style="float: left;">
		<img class="imagen" src="../../static/img/frc1394/prub03.png">
		<article>
			<h3>Aqui el Titulo</h3>
			<p class="break">Una descripcion del articulo y las condiciones</p>
		</article>
	</aside>
	<aside class="lateral" style="float: right;">
		<img class="imagen" src="../../static/img/frc1394/prub04.png">
		<article>
			<h3>Aqui el Titulo</h3>
			<p class="break">Una descripcion del articulo y las condiciones</p>
		</article>
	</aside>
</div>


<div class="articulo">
	<aside class="lateral" style="float: left;">
		<img class="imagen" src="../../static/img/frc1394/prub05.png">
		<article>
			<h3>Aqui el Titulo</h3>
			<p class="break">Una descripcion del articulo y las condiciones</p>
		</article>
	</aside>
	<aside class="lateral" style="float: right;">
		<img class="imagen" src="../../static/img/frc1394/prub01.png">
		<article>
			<h3>Aqui el Titulo</h3>
			<p class="break">Una descripcion del articulo y las condiciones</p>
		</article>
	</aside>
</div>

